html {
    width: 100%;
    height: 100%;
}
body {
    font-size: 20px;
    font-family: sans-serif,Arial;
    color: #fff;
    background-color: #fff;
}

h1,h2,h3 {
	margin:0 0 20px;
	color:#fff;
	text-shadow:1px 1px 3px #333
}

a {
	color:#fff;
	text-decoration:none;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
a:hover {
	color:orange
}

.wp {
	max-width:1020px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	color:#fff
}

.fleft {
	float:left
}
.fright {
	float:right
}

.left,.right {
	position:absolute
}
.left {
	left:0
}
.right {
	right:0
}

.title{
	width: 100%;
}
.title h1 {
	font-size:30px;
	border-left:5px solid #b0dbf7;
	padding-left:15px;
	font-weight:400;
	-webkit-transition-delay:.02s;
	transition-delay:.02s;
	text-shadow:2px 2px 4px #333;
}
.title h2 {
	font-size:50px;
	line-height:40px;
	letter-spacing:5px;
	/*font-family:'Lantinghei SC';*/
	-webkit-transition-delay:.06s;
	transition-delay:.06s;
	text-shadow:2px 2px 4px #333;
}
.title h3 {
	font-size:40px;
	line-height:30px;
	letter-spacing:1px;
	/*font-family:Arial;*/
	-webkit-transition-delay:.1s;
	transition-delay:.1s;
	text-shadow:2px 2px 4px #333;
}

.title .desc .tips {
	color:#fff;
	opacity:.8
}


/*---*/
.cityname h1 {
	font-size:30px;
	border-left:5px solid #b0dbf7;
	padding-left:15px;
	font-weight:400;
	-webkit-transition-delay:.02s;
	transition-delay:.02s;
	text-shadow:2px 2px 4px #333;
}
.cityname h2 {
	font-size:50px;
	line-height:40px;
	letter-spacing:5px;
	/*font-family:'Lantinghei SC';*/
	-webkit-transition-delay:.06s;
	transition-delay:.06s;
	text-shadow:2px 2px 4px #333;
}
.cityname h3 {
	font-size:40px;
	line-height:30px;
	letter-spacing:1px;
	/*font-family:Arial;*/
	-webkit-transition-delay:.1s;
	transition-delay:.1s;
	text-shadow:2px 2px 4px #333;
}

.cityname .desc .tips {
	color:#fff;
	opacity:.8
}
/*---*/

/*.msk {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#222;
	z-index:999;
	-webkit-transform:translate3d(0%,-100%,0);
	transform:translate3d(0%,-100%,0);
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	display:table;
}
.msk .wp {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	-webkit-animation:loading 1s linear infinite;
	animation:loading 1s linear infinite;
}*/

.main {
	display:table;
	width:100%;
	/*-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;*/
}

.section {
	display:table-row;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%
}
.section .cell {
	width:100%;
	position:relative
}
.section .middle {
	display:table-cell;
	vertical-align:middle
}


/*------------------------------------------------------------------------------------------------------------------------*/
.typeParis .title {
	/*top: 250px;*/
	margin-top: 20%;
	padding-left: 2%;
	padding-right: 2%;
}
.typeParis .title h1 {
	font-size:24px;
	border-left:5px solid #b0dbf7;
	padding-left:15px;
	font-weight:400;
	-webkit-transition-delay:.02s;
	transition-delay:.02s;
	text-shadow:1px 1px 3px #333;
}
.typeParis .title h2 {
	font-size:40px;
	font-weight:400;
	line-height:40px;
	letter-spacing:6px;
	-webkit-transition-delay:.06s;
	transition-delay:.06s;
	text-shadow:1px 1px 3px #333;
}
.typeParis .title h3 {
	font-size:40px;
	line-height:30px;
	letter-spacing:1px;
	/*font-family:Arial;*/
	-webkit-transition-delay:.1s;
	transition-delay:.1s;
	text-shadow:1px 1px 3px #333;
}
.typeParis .desc{
	width: 60%;
	margin-left: 3%;
	text-shadow:1px 1px 3px #333;
	display:inline-block;
	font-weight:400;
	line-height:40px;
	font-size:24px
}


.typeShanghai .desc,.typeNanjing .desc,.typeBeijing .desc{
	width: 60%;
	margin-top: 20%;
	text-shadow:1px 1px 3px #333;
	/*display:inline-block;*/
	font-weight:400;
	line-height:40px;
	font-size:24px
}


.typeParis .more,.typeShanghai .more,.typeNanjing .more,.typeBeijing .more {
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:120px;
	padding-top:30px;
	background:rgba(0,0,0,0.05)
}
.typeParis .more .more-wp,.typeShanghai .more .more-wp,
.typeNanjing .more .more-wp,.typeBeijing .more .more-wp {
	max-width:1020px;
	overflow:visible;
	margin:0 auto;
	color:#fff;
	width:100%;
}
/*.typeParis .more .fleft,.typeShanghai .more .fleft,.typeNanjing .more .fleft,.typeBeijing .more .fleft {
	width:330px;
	font-size:12px;
	line-height:1.5em
}
.typeParis .more .fleft p,.typeShanghai .more .fleft p,.typeNanjing .more .fleft p,.typeBeijing .more .fleft p {
	margin:0;
	text-shadow:1px 1px 1px #333
}
.typeParis .more .fright,.typeShanghai .more .fright,.typeNanjing .more .fright,.typeBeijing .more .fright {
	width:680px
}*/

/*.typeShanghai .title,.typeNanjing .title,.typeBeijing .title {
	bottom:80px;
}*/
.typeParis .cityname,.typeShanghai .cityname,.typeNanjing .cityname,.typeBeijing .cityname {
	position:absolute;
	padding-left: 10%;
	padding-right: 10%;
	bottom:16px;
}
.typeParis .cityname h1,.typeShanghai .cityname h1,.typeNanjing .cityname h1,.typeBeijing .cityname h1 {
	font-size: 24px;
	font-weight:800;
	/*color: #fff;*/
}
.typeParis .cityname h2,.typeShanghai .cityname h2,.typeNanjing .cityname h2,.typeBeijing .cityname h2 {
	font-size: 36px;
	font-weight:500;
}
.typeParis .cityname .left,.typeShanghai .cityname .left,.typeNanjing .cityname .left,.typeBeijing .cityname .left,{
	position:relative;
}
.typeParis .cityname .right,.typeShanghai .cityname .right,.typeNanjing .cityname .right,.typeBeijing .cityname .right {
	position:relative;
	text-align: right;
}
.typeParis .cityname .left,.typeShanghai .cityname .left,.typeNanjing .cityname .left,.typeBeijing .cityname .left {
	left:0;
}
.typeParis .cityname .right,.typeShanghai .cityname .right,.typeNanjing .cityname .right,.typeBeijing .cityname .right {
	right:0;
}
/*------------------------------------------------------------------------------------------------------------------------*/



/*-------------------From Bootstrap--------------------*/
.navbar-custom {
    top: 0;
    left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.4);
    font-family: Arial;
    background-color: rgba(0,0,0,.3);
}
.navbar-custom .navbar-brand {
    font-size: 24px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-custom .nav li a {
    font-size: 20px;
    font-weight: 400;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.4);
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-header a:hover,
.navbar-header a:focus,
.navbar-header a.active {
    color: rgba(255,255,255,.95);
    background-color: transparent;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    color: rgba(255,255,255,.95);
    background-color: transparent;
    font-weight: bold;
}
@media(min-width:767px) {
    .navbar {
        letter-spacing:1px;
        padding-top: 12px;
        padding-bottom: 24px;
        border-bottom: 0;
        background: 0 0;
        background-color: rgba(0,0,0,.0125);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        font-size: 24px;
        padding: 0;
    }
    .navbar-custom.top-nav-collapse {
        background-color: rgba(0,0,0,.3);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}



/*----------------------------------------------------------------*/
footer {
    color: #FBFBFB;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0,0,0,0.4);
    bottom:0;
}
footer .list-inline {
    margin: 0;
    padding: 0;
}
footer .copyright {
    font-size: 8px;
    text-align: center;
    margin-bottom: 0;
}


.tab {
    text-indent: 24px;
    /*text-align: justify;*/
}